---
layout:     post
title:      "Reflection"
subtitle:   ""
date:       2015-02-26 22:48:00
author:     "Joep"
header-img: "img/reflection/view2.jpg"
header-img-description: "Home, sweet home"
---

<p>
	Well, I've been struggling with this post... I'm not gonna lie, my arrival in Val d'Isère may
	have some part to play in this :). Also I just couldn't get it to feel right, so I've basically
	deleted most of it multiple times and now what I'm left with is this short summary of Dijon-Lyon
	and a little reflection of the last month.
</p>

<p>
	Also there will not be many pictures of mine in this post, because my fairphone fell and the camera
	is pretty much unusable now... 
	Bummer. I managed to get it working for a little while in Lyon but then dropped it again and 
	completely ruined it. I will figure something out for the future though.
</p> 

<h3>Dijon to Lyon</h3>

<p>
	Upon arriving in Dijon, I quickly 
	realized this was not going to be Paris #2. A bland city with not much to see. Even mustard
	shops were nowhere to be found, which for me as a mustardlover was quite the disappointement...
	The famous old houses spread throughout the city were nice but unfortunately vastly overhyped by
	the tourist office.
</p>

<p>
	Good things Dijon had to offer included:
</p>

<ul>
	<li>
		An amazing shower
	</li>
	<li>
		A halfway decent internet connection (halleluja)
	</li>
	<li>
		3 cool Belgian guys from Leuven with whom I played Chinese f*cking (it's 
		a card game...) for the better part of the night.
	</li>
</ul>

<p>
	I also discovered a French website for carsharing
	which turned out to be way cheaper than taking the train. I took a first carshare 
	to Lyon after 3 days in Dijon. This was initially not on my planning, but thanks to a tip 
	from my mom I decided to check it out
	anyway since it was still kind of on the way to Val d'Isère. 
</p>

<p>
	Lyon turned out to be absolutely amazing. 
	Something beautiful behind every corner, an amazing hillside full of
	medieval (I think) buildings, a load of amazing architecture from every century imaginable and a
	massive Basilic overlooking the whole city. 
</p>
{% include img.html url='img/reflection/ruins' %}
<span class="caption text-muted">More ruins. This is also a roman theatre</span>
<br />
{% include img.html url='img/reflection/basilic' %}
<span class="caption text-muted">This badass Basilic was visible from pretty much anywhere in the city</span>
<br />
<p>
	My hostel
	was located at the top of the hill and provided a very nice chillout room with an awesome view. I 
	spent a few days getting
	lost in the city streets and a few days inside resting my legs. All in all a great time. I 
	decided to stay
	there until my departure to Val d'Isère.
</p>

{% include img.html url='img/reflection/view' %}
<span class="caption text-muted">The view from the chillout room. This tree is many times more annoying in the picture than in real life.</span>
<br />

<h3>Time for some premature reflections</h3>

<ol>
	<li>Camping</li>
	<p style="margin: 10px 0 40px;">
		Living in Regina... What can I say, we've had good days and lesser days, no horrible days yet.
		The one problem about living in a tent has been that you have no proper way to relax after a
		long day of walking. You can't pitch the tent until it goes dark (if you're wild camping in
		populated areas at least)
		and chilling in a bar for 3 hours every evening gets quite expensive.
		<br />
		I'm hoping this will get better as the weather improves, because the cold basically prevents me 
		from resting outside on benches etc. for too long.
	</p>
	
	<li>Biking and Walking</li>
	<p style="margin: 10px 0 40px;">
		By now everyone should know about my mostly self-inflicted bike troubles. I still have fond
		memories of the few massive downhills in the Champagne region, but in the end I am glad we 
		parted ways. If not I would never have been able to make the beautiful trek through the Morvan 
		Forest nor would I have made it to Lyon.
		<br />
		From now on I will be relying on carsharing, public transit and hitchhiking for long 
		distances and hiking for the natural areas.
	</p>
	 
	<li>Finances</li>
	<p style="margin: 10px 0 40px;">
		I gave myself a budget constraint of €15 a day, knowing full well this would be very hard
		to keep up, but then again I perform better under stress... Most of the hostels in France 
		cost about €20 a night, which meant I had to get really inventive with my food. Luckily I 
		don't drink, so that gave me some wiggle room (no really, I've only had 3 beers and half a 
		bottle of wine in the last month. I plan to make up for it now though :D).
		<br />
		I have heard from multiple sources the Balkan (excluding Croatia) is quite a lot cheaper, so
		hopefully it won't get too much more out of control after the skiing bit.
	</p>
	
	<li>Logistics</li>
	<p style="margin: 10px 0 40px;">
		Living out of a trekking bag. It is horrible but humbling experience. Good planning and thourough 
		knowledge of the packing order are definite requirements. So far I haven't lost a single
		item however, which I daresay is nothing short of a miracle.
		<br />
		It's hard to say for sure so soon, but this might be having a good influence on my natural
		tendence for disorder.
	</p>
</ol>

