---
layout:     post
title:      "Snow"
subtitle:   ""
date:       2015-02-07 22:48:00
author:     "Joep"
header-img: "img/snow/d6-11_sleepingspot.jpg"
header-img-description: "..."
---

<p>
	Let's start this one off with some sad news.
</p>

<p>
	I broke up with my bike... After trying my hardest 
	to make things work, I realized there were just too many scars left from previous
	relationships for this to go on. We had our moments, but honestly most of the time
	it felt like an uphill battle. Some things were said that
	shouldn't have been said; she told me I was afraid of commitment, I told her she
	was just a shitty bike. All in all I learned a lot from our relationship, but from 
	now on I'll	think twice before jumping into something serious before getting to know
	each other a bit better. I'll still miss her on the downhill though... 
</p>


<h3>To Morvan</h3>

<p>
	While planning the next part of my trip, my sights had fallen on the 
	Parc Naturel Régional du Morvan. It was
	conveniently located between my location and Dijon, which was my next big city to
	visit, and according to google it boasted some fine nature. My kind of thing!
</p>

<p>
	The nearest train station that wasn't Fontainebleau (I developed a disliking for backtracking, thanks Bram!), 
	was located in Montargis, only 30km away! Time for a little walk before the big walk.
</p> 

{% include img.html url='img/snow/d1-01_ruins' %}
<span class="caption text-muted">Ruins of a church in Larchant.</span>
<br />

{% include img.html url='img/snow/d1-02_sleeping' %}
<span class="caption text-muted">Sleeping spot in Aufferville. Not very well concealed, but the best I could find...</span>
<br />

{% include img.html url='img/snow/d2-01_sunset' %}
<span class="caption text-muted">It's a sunset, beautifully captured by my camera.</span>
<br />

{% include img.html url='img/snow/d2-02_bruzelles' %}
<span class="caption text-muted">I'm almost home, mommy.</span>
<br />
{% include img.html url='img/snow/d2-03_chateaulandon' %}
<span class="caption text-muted">Chateau Landon, a pretty cool medieval city.</span>
<br />

<p>
	I took a small break in Cépoy, right before Montargis, as this village was home to the
	last hostel I would encounter until my arrival in Dijon. A lot of my gear was wet,
	my legs were pretty tired from climbing and walking and a first blister 
	was forming on my right heel. 
</p>

{% include img.html url='img/snow/d2-05_hostel' %}
<span class="caption text-muted">Pretty cool hostel, pretty weird residents.</span>
<br />

{% include img.html url='img/snow/d2-04_drying' %}
<span class="caption text-muted">Drying of the stuff, luckily I had the room to myself!</span>
<br />

{% include img.html url='img/snow/d2-06_canal' %}
<span class="caption text-muted">The canal outside the hostel, reminded me of home...</span>
<br />

{% include img.html url='img/snow/d4-01_riverlands' %}
<span class="caption text-muted">Cépoy to Montargis was an exceptionally nice walk.</span>
<br />

{% include img.html url='img/snow/d4-02_bike' %}
<span class="caption text-muted">Good to know there are worse bikes in the world.</span>
<br />

<p>
	I took the train from Montargis to Nevers and the bus from Nevers to Chateau-Chinon, a large
	village at the edge of the parc where a lot of trails started. The trip took longer than expected and
	by the time I got there it was 22h00 and raining quite heavily. I had to find a sheltered place
	to sleep quickly. This led to probably the weirdest place I have ever slept in my life. I can now
	say I have literally slept on a pile of (synthetic) shit. Hooray!
</p>

{% include img.html url='img/snow/d4-03_sleepingspot' %}
<span class="caption text-muted">
	A massive sheltered storage of synthetic fertilizer near the station. Very soft and cozy, no smell 
	at all and most important: dry. Actually a great sleeping spot.</span>
<br />


<h3>Day 1: A test of perseverance</h3>
<p>
	The next morning I woke up early, made a quick visit to the Tourist Office to plan my route and 
	disappeared into the wild.
</p>

{% include img.html url='img/snow/d5-01_view' %}
<span class="caption text-muted">Off to a great start!</span>
<br />

{% include img.html url='img/snow/d5-02_river' %}
<br />

{% include img.html url='img/snow/d5-03_landscape' %}
<span class="caption text-muted">Nature and stuff...</span>
<br />

<p>
	It had snowed and hailed a bit during the night and this all started melting around noon. As a result
	I could see rivers form beneath my feet
</p>

{% include img.html url='img/snow/d5-04_waterroad' %}
<span class="caption text-muted">This was a road once upon a time.</span>
<br />

<p>
	In the early afternoon it started snowing again.
</p>
{% include img.html url='img/snow/d5-05_firstsnow' %}
<br />

<p>
	And it didn't stop for the rest of the day.
</p>
{% include img.html url='img/snow/d5-06_moresnow' %}
<span class="caption text-muted">That sound</span>
<br />
{% include img.html url='img/snow/d5-07_roadblock' %}
<span class="caption text-muted">GR trails are fun!</span>
<br />
{% include img.html url='img/snow/d5-08_forest' %}
<br />
{% include img.html url='img/snow/d5-09_markings' %}
<span class="caption text-muted">It gets marginally harder finding the trail markings during a snow shower.</span>
<br />
{% include img.html url='img/snow/d5-10_horsies' %}
<span class="caption text-muted">I touched them.</span>
<br />
{% include img.html url='img/snow/d5-11_road' %}
<br />

<p>
	I must have read the map wrong, because what I thought would be a nice 15-20km walk, ended up as
	a leg-and-foot busting 27km test of endurance. Those last 7 really tested me, but somehow I made it
	to my destination: Lac Pannecière.
</p>

{% include img.html url='img/snow/d5-12_sleepingspot' %}
<span class="caption text-muted">For some reason, sleeping in places like this make me very happy.</span>
<br />
{% include img.html url='img/snow/d5-13_lake' %}
<br />

<h3>Day 2: Between two lakes</h3>

<p>
	A good nights rest can do wonders to a man. Unfortunately, tonight was the night Regina decided to
	stop being waterproof. Granted it was raining quite heavily and the damage was limited to a few drops
	here and there, but enough to make my night less than comfortable.
</p>

<p>
	Thankfully, my luck turned in the morning when I found this bad boy not 3 minutes from my camping
	spot
</p>
{% include img.html url='img/snow/d6-02_toilet' %}
<span class="caption text-muted">Halleluyah!</span>
<br />
{% include img.html url='img/snow/d6-03_toilet2' %}
<span class="caption text-muted">
	Oh my god, it was better than my wildest dreams. Like a freaking hotel in there. It even had 
	power outlets!!!
</span>
<br />

<p>
	I had breakfast, took an epic dump, got warm again, charged my electronics and found new motivation 
	in that public toilet. A big thanks to the municipality of Chaumard!
</p>
<p>
	Then it was back to the road.
</p> 
{% include img.html url='img/snow/d6-01_cemetery' %}
<span class="caption text-muted">Cool place for a cemetery.</span>
<br />
{% include img.html url='img/snow/d6-04_lake' %}
<br />

<p>
	On the first day I had found a stick that sort of kind of worked as a walking stick, but it broke
	during the last 7 kilometers. In hindsight I am glad, because if I still had that pseudo-walking stick,
	I never would have found the mother of all walking sticks:
</p>
{% include img.html url='img/snow/d6-12_walkingstick' %}
<span class="caption text-muted">Isn't she just amazing?</span>
<br />

{% include img.html url='img/snow/d6-05_forest' %}
<br />
{% include img.html url='img/snow/d6-06_spot' %}
<span class="caption text-muted">Great spot for a break! In summer.</span>
<br />
{% include img.html url='img/snow/d6-07_cemetery' %}
<span class="caption text-muted">I appear to have a thing with cemeteries.</span>
<br />
{% include img.html url='img/snow/d6-08_landscape' %}
<span class="caption text-muted">Is that... Blue skies?!? Yes.</span>
<br />
{% include img.html url='img/snow/d6-09_iceroad' %}
<span class="caption text-muted">The melt and the refrost had not done the roads much good.</span>
<br />

<p>
	This time my estimation was not too far off, and after a good 20km I arrived at Lac de Settons, my
	second destination. This lake was even more beautiful than the last.
</p>
{% include img.html url='img/snow/d6-10_lake' %}

<p>
	Because of the shorter 
	distance I arrived quite early, which gave me a lot of time to build my camping site, have a nice
	dinner and enjoy the awesome nature around me.
</p>

{% include img.html url='img/snow/d6-11_sleepingspot' %}
<br />

<h3>Day 3: Back to reality (kind of)</h3>

<p>
	I woke up very early because I had to walk 18km today and wanted to arrive at my destination as
	early as possible to increase my chances of catching a bus to the nearest town with a train station.
</p>
<p>
	My first few kilometers were walked in the dark of night, which was a cool experience but maybe not
	the smartest thing ever :). Luckily I didn't lose the trail.
</p>
{% include img.html url='img/snow/d7-01_earlywalking' %}
<span class="caption text-muted">Sun is starting to break through.</span>
<br />
{% include img.html url='img/snow/d7-02_selfie' %}
<span class="caption text-muted">Oh look, it's me.</span>
<br />
{% include img.html url='img/snow/d7-03_riverroad' %}
<span class="caption text-muted">I thought I was descending again, since the snow seamed to be melting.</span>
<br />
{% include img.html url='img/snow/d7-04_forest' %}
<span class="caption text-muted">But actually I was ascending and the snow only got deeper and deeper (up to 40cm).</span>
<br />

<p>
	Some 8km before the end of my trail, I was starting to feel like: "Well, this has been fun but I've 
	about had my share of snow for this week now". The trail felt differently however, and threw this in
	my face:
</p>

{% include img.html url='img/snow/d7-05_branches' %}
<span class="caption text-muted">Overhanging branches due to the weight of the snow blocking the trail.</span>
<br />

<p>
	This kept going for about 1km. Definitely one of the most enjoyable parts of the journey! Luckily I had my trusty
	walking stick to hit the branches, which helped a bit but was mostly just good fun because it made
	me feel like a wizard. The only real way to get through was a combination of forcefully swinging
	the branches and at a certain point just bombing through without thinking about how wet, cold and
	hurt you're getting.
</p>
{% include img.html url='img/snow/d7-06_sticklove' %}
<span class="caption text-muted">Give the stick some love.</span>
<br />

<p>
	During the last kilometers my trail joined the main road, and I got picked up by a nice lady
	with a baking truck who wondered what I was doing walking in the snow. She gave me a lift to 
	Anost and informed me that there were no busses on sunday. Great...
</p>

{% include img.html url='img/snow/d7-07_walkingstick' %}
<span class="caption text-muted">Had to say goodbye... I'll always remember you.</span>
<br />

<p>
	The nearest train station was located in Autun, 24km down the road. Without busses I had no other
	option but to start walking and stick my thumb out. After 6 kilometers a very nice local guy drove
	me all the way there even though he was actually just on his way home, a few hundred meters from where
	he picked me up. He also gave me a little tourist information about Autun which turned out to be a
	surprisingly interesting town. Since everything went faster than expected I had 2 hours before my
	train to Dijon left, so I decided to explore the town a little bit
</p>

{% include img.html url='img/snow/d7-08_cathedral' %}
<span class="caption text-muted">The cathedral of Autun.</span>
<br />
{% include img.html url='img/snow/d7-09_tympan' %}
<span class="caption text-muted">If this beautiful tympan doesn't make you shed a tear, I don't know what will...</span>
<br />
{% include img.html url='img/snow/d7-10_cathedral' %}
<span class="caption text-muted">Yes, more of the cathedral.</span>
<br />
{% include img.html url='img/snow/d7-11_pyramid' %}
<span class="caption text-muted">This is the Pyramid of Couhard, the first pyramid to be built B.C. (or something like that).</span>
<br />
{% include img.html url='img/snow/d7-12_pyramidzoom' %}
<span class="caption text-muted">Here I use a marvel of technology called digital zoom for the people who have trouble finding the pyramid in the first picture.</span>
<br />
{% include img.html url='img/snow/d7-13_theatre' %}
<span class="caption text-muted">A very well preserved Roman Theatre.</span>
<br />
{% include img.html url='img/snow/d7-14_theatre2' %}
<span class="caption text-muted">Panorama of the theatre.</span>
<br />

<p>
	And then I treated myself.
</p>
{% include img.html url='img/snow/d7-15_waffle' %}
<span class="caption text-muted">And it will forever be known as the best waffle ever.</span>
<br />

<script type="text/javascript">
function showAppendix(btn) {
    document.getElementById("appendix").style.display = 'block';
    btn.style.display = 'none';
}
</script>

<h3>Appendix: The evolution of a blister (NSFL) <a href="#" onclick="showAppendix(this);return false;" style="color:#0085a1">show</a></h3>

<div id="appendix" style="display:none;">

	<p>
		So as mention before, after my prelude walk from La Chapelle La Reine to Cépoy, I developed my
		first real blister on my heel (climbing blisters don't count). Back then it was such a cuty:
	</p>
	{% include img.html url='img/snow/blister_cepoy' %}
	
	<p>
		I wasn't too worried, just slapped a big bad Compeed on there and pretty much forgot about it.
		Apparently walking for 3 days in pretty much constantly soggy boots is bad for blister recovery..
		Who would have known...
	</p>
	
	<p>
		So when I came out of the woods, I took a little peak:
	</p>
	{% include img.html url='img/snow/blister_dijon' %}
	
	<p>
		As you can see (or maybe not), my foot is still a bit soaked here, and it is hard to see where
		the blister ends and my skin begins. It's not very distinguishable in the picture, but at this
		point it looked as if the entire bottom of my heel was a blister.
	</p>
	
	<p>
		When I arrived in Dijon I popped it, drained it and let it dry for a while. Here is the result:
	</p>
	{% include img.html url='img/snow/blister_after' %}
	
	<p>
		Doesn't look so bad anymore... Still easily the biggest blister I've ever had, but not nearly
		as bad as I expected when the Compeed came off :).
	</p> 
</div>




<h2>Lessons Learned:</h2>

<ul>
	<li>
		I really, really love snow and the sound of it cracking beneath my feet. I don't think I would
		have enjoyed this walk nearly as much if I didn't.
	</li>
	<li>
		Regina has her limits.
	</li>
	<li>
		Don't look at blisters right after they come out of your wet shoes
	</li>
	<li>
		Lift givers are the nicest people
	</li>
</ul>