---
layout:     post
title:      "Mountains"
subtitle:   ""
date:       2015-03-13 22:48:00
author:     "Joep"
header-img: "img/val/val.jpg"
header-img-description: "Home, sweet home. Kinda..."
---

<p>
	Val d'Isère. The land where my name is "Jop", bigheaded extroverts rule and boasting is the norm.
	Still, upon entering the village center it felt like coming home after a long
	trip. 
</p>

<p>
	I had no place to sleep, not a lot of money and no skis. Still my plan was to stay here for a month
	and a half. I would have to rely on friends and my outstanding social skills
	to survive here.
	Again, I perform better under stress.
</p>

<h3>Life of a Skibum</h3>

<p>
	George, a roommate from last season, had said I could stay a while at his 
	place, which happened
	to be the same place we stayed in the previous year. For people unfamiliar with seasonair 
	accomodation, let's say sardines would find the lack of room appalling. My sleeping spot 
	was a couch that has probably seen
	more things than most people (would want to) see in their lifetime. Things I didn't want to 
	think about while
	using it as a bed...
</p>

{% include img.html url='img/val/couch' %}
<span class="caption text-muted">The couch, occupied here by a hungover Swede.</span>
<br />

<p>
	After a bit more than a week of living in less space than any human being should be forced in,
	George's brother, Tim, offered me a real bed in his appartement. This appartement may have been
	only slightly bigger, but the rise in comfort was substantial. I spent the rest of my stay here,
	trying to repay the favor with cleaning and cooking.
</p>

{% include img.html url='img/val/george' %}
<span class="caption text-muted">My brother from another mother George putting on his dreamy eyes.</span>
<br />


<p>
	Through a stroke of luck, the parents of another friend of mine had planned a skiing trip
	to Val only 4 days after my arrival and they had agreed to take my skis with them (again, many
	thanks!).
</p>

<p>
	The only thing missing to make my stay a great success was a skipass. Unfortunately Espace Killy
	happens to be one of the most expensive resorts in France. €65 for a day, €400 for a week and
	€1000 for a season pass. All of them way out of my budget. The only option left was to earn my 
	turns...
</p> 

<h3>Skinning up</h3>

<p>
	Last season I bought skins*<sup>1</sup> for my skis to do some backcountry touring, but my experience with 
	them had been limited to a few midnight ascents of pistes à l'imporviste (read: we had had a 
	few). I always had loads of fun doing it though, and this combined with the fact that only
	the bottom lifts have scanners for skipasses made me decide I would simply 
	walk up the mountain any day I felt like skiing.
</p>

<p>
	I had the option between 2 routes. One gave me access to pretty much 60% of the Val d'Isère runs, while
	the other allowed me to lap the snowpark. Choices, choices... Both of them took me about an hour
	and a half to climb at the start, but I was able to take this down to 45 minutes by the end of the
	month.
</p>

{% include img.html url='img/val/routes' %}
<span class="caption text-muted">The 2 routes I could take and the areas opened by them.</span>
<br />

<h3>Midnight Face</h3>

<p>
	Of course a midnight adventure is never far away and after hearing that George was quite keen on
	repeating the ascent of the "Face" I did last season, not much more discussion was 
	needed.
</p>

<p>
	We started our trek around 4 in the morning. It took us about 2 hours to get the the first viewpoint.
	The view from this spot alone makes the ascent worth it.
</p>

{% include img.html url='img/val/face' %}
<span class="caption text-muted">View from the first viewpoint on the Face.</span>
<br />

<p>
	After chilling out for a while, the resort started to wake up. We were able to traverse 
	to a lift without
	scanners and do some awesome first lines along the pistes. Awesome night/morning!
</p>

<h3>Powpow!</h3>

<p>
	On the third week the stars aligned and we were blessed with a big dump of snow. 
	The very next day I decided
	it was time to blow my budget and buy a skipass in the hopes of having an epic powder day. We 
	woke up
	at 8 o'clock, shoved some food down our throat, hustled for a skipass and started queueing for 
	first chair. Half an hour later the pisteurs announced that no lifts would open that day because
	of high winds at the top of the mountain... Great.
</p>

<p>
	Luckily I was able to get a refund and do the whole thing over the next day. My luck did not stop
	because supposedly this was the best powder day of the season. Our
	morning was spent in the renowned trees of Fornet choking on the fluff snow that had been blown 
	off
	the	trees the day before. Around noon the top lifts opened, giving acces to a whole new field of
	untracked pow. Another unforgettable day!*<sup>2</sup>
</p>

{% include img.html url='img/val/lines' %}
<span class="caption text-muted">Freshies!</span>
<br />

<h3>Social life in Val</h3>

<p>
	My season in Val last year was a weird period for me. Due to some things happening in my life,
	I was not in the best place when arriving here. The skiing was amazing and I was very lucky with 
	my roommates as they were all great people. The one thing that made last season hard for
	me was socializing with other people. Val d'Isere really made me realize how much I suck at it.
	Quite a few of my life choices during the past year have been in an effort to see how much
	I could improve this, as I figured being a more social creature would help me for the
	remainder of my life, not to mention career.
</p>

<p>
	I dare say I have come a way since then. I definitely feel more confident in social situations
	here now. Like a lot of things in life, it seems to be kind of a self fulfilling prophecy.
</p>
<br/><br />
<p>
	*<sup>1</sup><span style="font-size:15px">Skins are a layer of cloth that you stick to the bottom
	of your skis to prevent you from gliding down when walking on a snowy slope</span>
	<br /><br />
	*<sup>2</sup><span style="font-size:15px">Just for the record, I am aware of the dangers of off-piste skiing
	and do not endorse it without the proper knowledge an equipement. Powder is awesome but being 
	alive is awesomer.</span>